<nav class="navbar navbar-light bg-light">
  Registro de Maletas
  <a class="navbar-brand" href="#">Cancelar</a>
</nav>
<div class="container">
  <div class="row" *ngIf="isLoading">
    <div class="col-12">
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!valijaIsSelected && !isLoading">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Pasajero: {{pasajeCliente?.nombre}}</h4>
      <p>Vuelo: {{pasajeCliente?.numeroVuelo}}</p>
      <hr>
      <p class="mb-0">Selecciona la Maleta a pesar y chequear:</p>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-xs-12 col-lg-4" *ngFor="let maleta of pasajeCliente?.maletas; let i = index">
          <div class="card mt-3 maletas" (click)="seleccionarValija(maleta.maleta_id)">
            <img mat-card-image [src]="imageValija(maleta.peso)" alt="Imagen de Maleta">
            <div class="card-body bg-success color-white">
              <div class="row">
                <div class="col-12">
                  <h1 class="h3 mb-3 font-weight-normal">Baggage {{i}} </h1>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="infoParaUsuario">
                    Max: {{maleta.peso}} KG
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="card maletas" id="nuevaMaleta" (click)="comprarEquipajeExtra()">
            <img mat-card-image src="../../assets/images/plus.jpg" alt="Nueva Maleta">
            <div class="card-body bg-danger">
              <div class="row">
                <div class="col-12">
                  <h1 class="h3 mb-3 font-weight-normal">Comprar equipaje extra</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" *ngIf="valijaIsSelected && !isLoading">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Pasajero: {{pasajeCliente?.nombre}}</h4>
      <p>Vuelo: {{pasajeCliente?.numeroVuelo}}</p>
    </div>
    <div class="alert alert-primary" role="alert">
      Apoya la valija en la balanza y espera. No la retires hasta imprimir.
    </div>

    <div class="col-12">
      <div class="row justify-content-md-center">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <p class="mb-0">Máximo permitido: {{valijaSeleccionada?.peso}} KG</p>
            </div>
            <img mat-card-image src="../../assets/images/pesar.jpg" alt="Pesar">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h1 class="h3 mb-3 font-weight-normal">
                    Pesando:
                    <span *ngIf="!valijaPesada" class="spinner-border" role="status" aria-hidden="true"></span>
                    {{valijaPesada ? valijaPesada : ""}} KG
                    <span class="badge badge-success" *ngIf="valijaPesada && pesoOk()">
                      Peso correcto
                    </span>
                    <span class="badge badge-danger" *ngIf="valijaPesada && !pesoOk()">
                      Exceso
                    </span>
                  </h1>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row justify-content-end">
                <div>
                  <button [disabled]="isLoading" class="btn btn-primary" *ngIf="valijaPesada && pesoOk()" (click)="openPrintComponent()">
                    <div *ngIf="isLoading" class="spinner-border" role="status">
                    </div>Registrar e Imprimir
                  </button>
                  <button class="btn btn-dark" *ngIf="valijaPesada && !pesoOk()" (click)="pagarPesoExtra()">Pagar
                    Exceso</button>
                  <button class="btn btn" *ngIf="valijaPesada && !pesoOk()">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
