.alert {
  width: 100%;
  margin-top: 20px;
}

.card {
  -webkit-box-shadow: 13px 13px 25px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 13px 13px 25px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 13px 13px 25px 0px rgba(0, 0, 0, 0.8);
  min-height: 220px;
  border: none;
  img {
    height: 150px;
    width: fit-content;
    margin: auto;
  }
  .card-body {
    border-radius: 0 0 0.15rem 0.15rem;
  }
}

.maletas:hover {
  cursor: pointer;
  border: 2px solid #424242;
}

#nuevaMaleta {
  margin-top: 10%;
}

.color-white {
  color: white;
}
