.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.infoParaUsuario {
  font-size: large;
}

button {
  float: right;
}

.titleSeleccion {
  background: #424242;
  color: #fff;
}

.maletas:hover {
  cursor: pointer;
  mat-card {
    border: 2px solid #424242;
  }
}
