<nav class="navbar navbar-light bg-light">
  Registro de Maletas
  <a class="navbar-brand" href="#">Cancelar</a>
</nav>
<div class="container">
  <div class="row" *ngIf="!valijaIsSelected">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Pasajero: {{pasajeCliente?.nombre}}</h4>
      <p>Vuelo: {{pasajeCliente?.vuelo}}</p>
      <hr>
      <p class="mb-0">Selecciona la Maleta a pesar y chequear:</p>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-xs-12 col-lg-4" *ngFor="let maleta of pasajeCliente?.maletas; let i = index">
          <div class="card mt-3 maletas" (click)="seleccionarValija(maleta.maleta_id)">
            <img mat-card-image [src]="imageValija(maleta.peso.$numberDecimal)" alt="Imagen de Maleta">
            <div class="card-body bg-success color-white">
              <div class="row">
                <div class="col-12">
                  <h1 class="h3 mb-3 font-weight-normal">Baggage {{i}} </h1>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="infoParaUsuario">
                    Max: {{maleta.peso.$numberDecimal}} KG
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="card maletas" id="nuevaMaleta">
            <img mat-card-image src="../../assets/images/plus.jpg" alt="Nueva Maleta">
            <div class="card-body bg-danger">
              <div class="row">
                <div class="col-12">
                  <h1 class="h3 mb-3 font-weight-normal">Comprar equipaje extra</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div *ngIf="!valijaIsSelected">

  <mat-grid-list class="titleSeleccion" cols="1" rowHeight="20:1">
    <mat-grid-tile>
      <h2>Selecciona la Maleta</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>Pasajero: {{pasajeCliente?.nombre}} - Vuelo: {{pasajeCliente?.vuelo}} </h2>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-grid-list cols="5" rowHeight="1:1">
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile class="maletas" *ngFor="let valija of pasajeCliente?.valijas; let i = index" (click)="seleccionarValija(valija.maleta_id)">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Baggage {{i}} </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="imageValija(valija.peso.$numberDecimal)" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="infoParaUsuario">
            Max: {{valija.peso.$numberDecimal}} KG
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->

<!-- <div *ngIf="valijaIsSelected">

  <mat-grid-list class="titleSeleccion" cols="1" rowHeight="20:1">
    <mat-grid-tile>
      <h2>Pesaje Valija. Max: {{valijaSeleccionada?.peso?.$numberDecimal}} KG</h2>
    </mat-grid-tile>
    <mat-grid-tile>
      <h2>Pasajero: {{pasajeCliente?.nombre}} - Vuelo: {{pasajeCliente?.vuelo}} </h2>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile class="maletas">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Apoya la valija en la balanza y espera...</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/pesar.jpg" alt="Pesar">
        <mat-card-content>
          <p class="infoParaUsuario">
           Pesando: {{valijaPesada ? valijaPesada : "..."}} KG
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
