<nav class="navbar navbar-light bg-light">
  Pago de Maletas / Peso Extra
  <a class="navbar-brand" href="#">Cancelar</a>
</nav>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Información de Pago</h3>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="cardNumber">Número de Tarjeta</label>
          <input type="text" class="form-control" name="cardNumber" id="cardNumber"
            placeholder="Ingrese el número de tarjeta" [(ngModel)]="cardNumber" (keyup)="applyCardNumberMask()"
            (keydown)="preventNonNumericInput($event)">
        </div>
        <div class="form-group">
          <label for="cardName">Nombre en la Tarjeta</label>
          <input type="text" class="form-control" id="cardName" placeholder="Ingrese el nombre en la tarjeta">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="expiryDate">Fecha de Vencimiento</label>
            <input type="text" class="form-control" name="expirationDate" id="expirationDate" placeholder="MM/AA"
              [(ngModel)]="expirationDate" (keyup)="applyExpirationDateMask()"
              (keydown)="preventNonNumericInput($event)">
          </div>
          <div class="form-group col-md-6">
            <label for="securityCode">Código de Seguridad</label>
            <input type="password" maxlength="3" class="form-control" id="securityCode" placeholder="CVC">
          </div>
        </div>
        <div class="form-group">
          <label for="amount">Monto</label>
          <div class="input-group">
            <input disabled name="amount" type="text" class="form-control" id="amount" [(ngModel)]="amount">
            <div class="input-group-append">
              <span class="input-group-text">ARS</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="itemDescription">Descripción del Artículo</label>
          <textarea class="form-control" name="itemDescription" id="itemDescription" rows="3"
            placeholder="Ingrese la descripción del artículo" [(ngModel)]="itemDescription"
            [readonly]="true"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="confirmarPago()">Pagar</button>
      </form>
    </div>
  </div>
</div>
