<div class="container">
  <div class="card mt-5" id="card-boarding">
    <h1 class="h3 mb-3 font-weight-normal">Sistema de chequeo express de maletas</h1>
    <img mat-card-image src="../../assets/images/boardingpass.webp" alt="Escanea el boarding pass">
    <div class="card-body">
      <div class="row">
        <p class="infoParaUsuario">
          Acerque el código de su BoardingPass al lector.
        </p>

        <input name="boarding-code" id="boarding-code" class="form-control" [(ngModel)]="boardingpass" type="text"
          matInput placeholder="Ex. AAACCCDX1" />

      </div><br>
      <div class="row">

        <button class="btn btn-lg btn-dark btn-block" (click)="verificarPasaje()">ACEPTAR</button>

      </div>
      <p class="text-center">© 2023</p>
    </div>
  </div>
</div>
